* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
nav {
  height: 80px;
  display: flex;
  background-color: white;
  padding: 20px 35px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.hero {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.hero--photos {
  max-width: 600px;
  align-self: center;
}

.hero--header {
  margin: 0 0 10px 20px;
}

.hero--text {
  width: 325px;
  margin: 0 0 20px 20px;
}

.cards--list {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;
  justify-content: space-around;
}

.card {
  width: 200px;
  font-size: 12px;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
}

.card--text__color {
  color: grey;
}

.card--stats {
  display: flex;
  align-items: center;
}

.card--img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.card--star {
  height: 15px;
}

.card--price {
  margin-top: 10px;
}

.card--title {
  overflow: hidden;
  text-overflow: ellipsis;
}